<body>
  <h1>Editing Book</h1>
  <form class="edit_book" id="edit_book_67386" action="/books/67386" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="_method" value="patch"><input type="hidden" name="authenticity_token" value="kNZAjtpNeCaxQUuGAK66Gu0el0J/KTlcfKe2m/JTZD3mEWPbKMlFUZgEuS3N94TrZrXlKQKTHdAT2hgdsUUGjg==">

    <div class="field">
      <label for="book_title">Title</label>
      <input class="book_title" type="text" value="" name="book[title]" id="book_title">
    </div>
  
    <div class="field">
      <label for="book_body">Body</label>
      <textarea class="book_body" name="book[body]" id="book_body"></textarea>
    </div>
  
    <div class="actions">
      <input type="submit" name="commit" value="Update Book" data-disable-with="Update Book">
    </div>
  </form>
  <a class="show_67386" href="/books/67386">Show</a>
   | 
  <a class="back" href="/books">Back</a>
</body>
