<head>
  
</head>
<body>
  <p id="notice"></p>
  
<p><span>Title: </span><%= @book.title %></p>
<p><span>Body: </span><%= @book.body %></p>
  
  <a class="edit_67231" href="/books/67231/edit">Edit</a>
   | 
  <a class="back" href="/books">Back</a>
</body>
